body {
    padding: 0 30px;
    font-size: 14px;
    line-height: 22px;
    font-family: "Times New Roman", Times, serif;
    color: #ccc0b1;
    background-color: blueviolet;
  }

 .round {
  border-radius: 80%;
 }
  
  h1 {
    font-size: 36px;
    line-height: normal;
  }
  
  h2, h3, h4 {
    font-size: 20px;
    line-height: normal;
  }
  img {
    width: 160px;
    height: 160px;
  }